@*@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")*@
<!--todo ajax的js不能重复添加,重复会提交两次post -->
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>

@{
    ViewBag.Title = "table";
}

<script type="text/javascript">
    $(function() {
        init();
    
    });
    

    function onsuccess(parameters) {
        //alert(parameters);
        init();
        $("#dia").window("close");
    };
    
    function init() {
        $("#tt").datagrid({
            pagination: 'true',
            rownumbers: 'true',
            url: '@Url.Action("Inittable", "WorkTimes")',
            title: '这是一个测试的数据表',
            pageNumber: 1, 
            pagePosition: 'top',
            singleSelect: true,
            width: 1280,
            toolbar:[
                {
                    iconCls: 'icon-edit',
                    handler: function () {

                        /* 下面是新建窗口的函数*/
                        
                        $("#dia").window({
                            title: 'My Dialog',
                             top:100,
                            width: 800,
                            height: 600,
                            inline:false,
                           
                         
                            href: '@Url.Action("Create","WorkTimes")',
                           modal:true,
                            onDestroy: function () {
                               
                                //alert("销毁了");
                            },
                            onClose: function () {
                                //$("#dia").dialog("destroy");
                                //alert("关闭了");
                            }
                        });
                    }

                    
                },
                {
                    iconCls: 'icon-add',
                    handler: function () { alert('编辑按钮') }
                },
            ],
            columns: [
                [
                    {
                        field: "WorkTimeID",
                        title: "id",
                        hidden:true
                    
                    },
                    {
                        field: 'StationName',
                        width: 300,
                        title: '用户名'

                    },
                    {
                        field: 'starttime',
                        title: '描述',
                        width: 300,
                        editor: {
                            type: 'text'
                        }
                    },
                    {
                        field: 'endtime',
                        title: '结束时间',
                        width: 300,

                    },
                    {
                        field: 'WorkProgram',
                        title: '工作内容',
                        width: 300

                    },
                    {
                        field: 'MemberName',
                        title: '成员',
                        width: 300

                    },
                    {
                        field: 'WorkTimeValue',
                        title: '工时',
                        width: 300

                    }
                ]
            ],
            view: detailview,
            detailFormatter: function(rowIndex, rowData) {
                //return '<table><tr>' +
                //        '<td rowspan=2 style="border:0"><img src="images/' + rowData.itemid + '.png" style="height:50px;"></td>' +
                //        '<td style="border:0">' +
                //        '<p>Attribute: ' + rowData.attr1 + '</p>' +
                //        '<p>Status: ' + rowData.status + '</p>' +
                //        '</td>' +
                //        '</tr></table>';
                return '<div class="ddv" ></div>';
            },
            onExpandRow: function(index, row) {
                var ddv = $(this).datagrid('getRowDetail', index).find('div.ddv');
                ddv.panel({
                    border: true,
                    width: 800,
                    height: 400,
                    href: '@Url.Action("edit","WorkTimes")' + "/" + row.WorkTimeID,
                    onLoad:function(){    
                        $('#tt').datagrid('fixDetailRowHeight',index);    
                        // $('#tt').datagrid('selectRow',index);    
                        //$('#tt').datagrid('getRowDetail',index).find('form').form('load',row);    
                    }    
                });    
                $('#tt').datagrid('fixDetailRowHeight',index);    


            },
            onDblClickRow: function (index, row) {
                $('#tt').datagrid('expandRow', index);
                
            }


        });
    
    }

</script>
<h2>工时表格</h2>

<button type="button" style="width:200px"  class="btn btn-success ">保存</button>

<button class="btn btn-danger "  style="width:200px" type="button">删除</button>
<div id="tt">

</div>
<div id="dia">

</div>