@model Model.WorkSet

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>WorkSet</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Team.TeamName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Team.TeamName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WorkSetName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkSetName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WorkSetValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkSetValue)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.WorkSetID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
